<%- include('partials/head') %>
<div class="game-list-container">
    <h1><%= title %></h1>
    <% games.forEach(function(game){ %>
        <article>
            <img src=<%= game.background_image%> alt="Picture of <%= game.name %>">
            <div class="content">
                <h3><%= game.name %></h3>
                <form action="/liked-game" method="POST">
                    <button type="submit" name="id" value="<%= game.id %>">
                        <img src="images/thumb_up-24px.svg" alt="">
                        <p>Like</p>  
                    </button>
                </form>
            </div>
        </article>
    <% }) %>
</div>
<%- include('partials/foot') %>